html,body{
width: 100%;
height: 100%;
background-color: black;
align-items: center;
flex-direction: column;
}
body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#door{
  display: flex;
  flex-direction: column;
  width: 50%; 
  align-items: center;
  

}
#darkHouse{
  display: none;
  flex-direction: column;
  width: 50%; 
  padding: 21%;
  height:100%;
  margin:5px auto;
  align-items: center;
  background-image: url('./src/corredor.png');
  background-position: center center;
  background-repeat: no-repeat;
  animation: zoom 11s;
  max-width: 100%;
  overflow: hidden; 
}

#key{
 background-image: url("./src/key.png");
 width: 100px;
 padding: 23px;
}
#entrarB{
  background-image: url("./src/arrown.png");
  width: 100px;
  padding: 50px;
  display: none;
}
#btnAndar{
  display: none;
  width: 30px;
  padding: 27px;
  background-image: url('./src/walk.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom:15px;
}
lottie-player:hover #entrarB{
 opacity: 1;
 display: block;
}
#eventos{
 display: none;
 background:#cccccc; 
 padding:15px;  
 top:20px;  
 left:120px; 
 width:50%; 
 float:top; 
}
#speak{
  display: none;
  background:#f10606; 
  padding:15px;  
  top:20px;  
  left:120px; 
  width:50%; 
  float:left;
} 
video{
  display: none;
  flex-direction: column;
  width: 50%; 
  align-items: center;

}
@keyframes walking{
  0%{
    transform:scale(1);
  }
  100%{
    transform:scale(1);
    opacity: 0;
  }
}


@keyframes zoom {
  0%{
    transform:scale(0.1);
  }
  100%{
    transform:scale(1);
  }
}
